:root{
    --fontHeading: 'PT Sans', sans-serif;
    --fontParrafo: 'Open Sans', sans-serif;
    --fontConsola: 'Consolas', sans-serif;
    
    --fontprimary: rgb(0, 77, 166);
    --fontsecondary: rgb(0, 32, 70);
    --backDark: rgb(39, 39, 39);
    --backLight: rgb(203, 203, 203);
    --primary: #166FE5;
    --secondary: #0058bc;
    --thirdy: #0060cd;
    --celeste: #01ACC0;
    --celeste1: #00828D;
    --agua: #26C98A;
    --agua1: #00975E;
    --verde: #42b72a;
    --verdeLog: #379d23;
    --verdeLogB: #267816;
    --rojo: #C03425;
    --rojo1: #a5281b;
    --rojo2: #e34331;
    --naranja: rgb(255, 160, 87);
    --naranja1: rgb(206, 126, 65);
    --morado: rgb(147, 70, 255);
    --morado1: rgb(101, 47, 175);
    --gris: #919395;
    --blanco: #fff;
    --blanco1:rgb(255, 255, 255);
    --blancoH: #c3dfff;
    --negro: #000;
}
html{
    box-sizing: border-box;
    font-size: 62.5%;
}
*,*::before{
    box-sizing: inherit;
}
body{
    font-family: var(--fontParrafo);
    font-size: 1.2rem;
    line-height: 2;
    display: grid;
    grid-template-rows: repeat(3,auto);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
@media (prefers-color-scheme: dark) {
    body { 
        background: var(--backDark); 
    }
}
@media (prefers-color-scheme: light) {
    body { 
        background: var(--backLight); 
    }
}
.bodyCharge {
    width: 100%;
    padding: 6rem 6rem 0 6rem;
    display: grid;
    flex-direction: row;
    row-gap: 1rem;
}
a{
    text-decoration: none;
}
.padding-top-1 {
    padding-top: 3rem;
}
.padding-top-2 {
    padding-top: 9rem;
}
.seccion {
    color: var(--blanco);
	margin: auto;
    font-family: var(--fontParrafo);
    font-size: 3rem;
}
.subseccion {
    color: var(--blanco1);
	margin: auto;
    font-family: var(--fontParrafo);
    font-size: 2.2rem;
}
/*LOGIN*/
.contenedorForm {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.formulario {
    background-color: var(--blanco);
    display: grid;
    border-radius: 1rem;
    padding: 3rem;
}
.formTitulo {
    text-align: center;
}
.formTitulo .label {
    color: var(--primary);
    font-size: 3rem;
}
/*INPUT TEXT*/
.input-text {
    padding-top: 2rem;
}
.input-text .label {
    color: var(--fontprimary);
    font-size: 2rem;
}
.input-text .input {
    color: var(--fontsecondary);
    width: 100%;
    outline: none;
    height: 3.5rem;
    border-radius: 0.4rem;
    border: var(--gris) solid 0.1rem;
}
/*INPUT CHECKBOX*/
.input-checkbox {
    padding-top: 0.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.6rem;
}
.input-checkbox .label {
    color: var(--fontprimary);
    font-size: 1.5rem;
}
/*INPUT CHOOSEFILE*/
.input-file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.input-file-1 + label {
    text-align: center;
    background-color: var(--thirdy);
    color: var(--blanco);
    border-radius: 0.4rem;
    border: var(--fontprimary) solid 0.2rem;
    cursor: pointer;
}
.input-file-1:focus + label,
.input-file-1.has-focus + label,
.input-file-1 + label:hover {
    background-color: var(--primary);
}
.input-file + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    margin-right: 0.25em;
}
.iborrainputfile {
	font-size:1.6rem; 
	font-weight:normal;
    cursor: pointer;
    font-size: 1.8rem;
}
/*BUTTON*/
.button-group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.button-login {
    width: 100%;
    padding-top: 3rem;
    padding-bottom: 1rem;
    font-size: 1.8rem;
}
.button1 {
    width: 100%;
    height: 4rem;
    border-radius: 0.4rem;
    background-color: var(--verdeLog);
    border: var(--verdeLogB) solid 0.2rem;
    color: var(--blanco);
    cursor: pointer;
    font-size: 1.8rem;
}
.button1:hover {
    background-color: var(--verde);
}
.button2 {
    width: 100%;
    height: 4rem;
    border-radius: 0.4rem;
    background-color: var(--thirdy);
    border: var(--fontprimary) solid 0.2rem;
    color: var(--blanco);
    cursor: pointer;
    font-size: 1.8rem;
}
.button2:hover {
    background-color: var(--primary);
}
.button1-t {
    width: 100%;
    height: 4rem;
    border-radius: 0.4rem;
    background-color: transparent;
    border: var(--naranja1) solid 0.2rem;
    color: var(--naranja);
    cursor: pointer;
    font-size: 1.8rem;
}
.button1-t-clicked {
    width: 100%;
    height: 4rem;
    border-radius: 0.4rem;
    background-color: var(--naranja);
    border: var(--naranja1) solid 0.2rem;
    color: var(--blanco);
    cursor: pointer;
    font-size: 1.8rem;
}
.button1-t:hover {
    background-color: var(--naranja);
    color: var(--blanco);
}
/*BARRA NAVEGACIÓN*/
.header{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.contenedor{
    width: 100%;
    margin: 0 auto;
    position: fixed;
}
.barra{
    padding: 0 5rem;
    background-color: var(--primary);
}
@media (min-width: 768px) {
    .barra{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--primary);
    }
}
.logo{
    color: var(--blanco);
    cursor: pointer;
}
.logo__nombre{
    font-size: 3rem;
}
@media (max-width: 1080px) {
    .logo__nombre{
        font-size: 4rem;
    }
}
@media (max-width: 1000px) {
    .logo__nombre{
        font-size: 3rem;
    }
}
@media (max-width: 880px) {
    .logo__nombre{
        font-size: 2.5rem;
    }
}
.no-margin{
    margin: 0;
}
.centrar-texto{
    text-align: center;
}
@media (min-width: 768px) {
    .navegacion{
        display: flex;
        gap: 3rem;
    }
}
.navegacion__enlace{
    display: block;
    text-align: center;
    font-size: 1.8rem;
    color: var(--blanco);
    cursor: pointer;
    
}
.navegacion__enlace:hover{
    color: var(--blancoH);
}
/*MOSAICOS*/
@media (min-width: 768px) {
    .download-graph {
        display: grid;
        grid-template-columns: 1fr 3fr 2fr 1fr;
        column-gap: 2rem;
    }
    .dos-columnas {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
    .tres-columnas {
        display: grid;
        padding-bottom: 2rem;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 2rem;
    }
}
/*GRAFOS*/
.graph-1 {
    background: var(--blanco);
    grid-column: 2 / 3;
}
/*DISPLAY*/