:root{
    --fontHeading: 'PT Sans', sans-serif;
    --fontParrafo: 'Open Sans', sans-serif;
    --fontConsola: 'Consolas', sans-serif;
    
    --fontprimary: rgb(0, 77, 166);
    --fontsecondary: rgb(0, 32, 70);
    --backDark: rgb(39, 39, 39);
    --backDark1: rgb(68, 68, 68);
    --backDark2: #8f8f8f;
    --backDark3: #9f9f9f;
    --backLight: #cbcbcb;
    --primary: #166FE5;
    --secondary: #0058bc;
    --thirdy: #0060cd;
    --comment: #EBEFF3;
    --user_comment: #37589A;
    --celeste: #01ACC0;
    --celeste1: #00828D;
    --agua: #26C98A;
    --agua1: #00975E;
    --agua2: #008451;
    --verde: #42b72a;
    --verdeLog: #379d23;
    --verdeLogB: #267816;
    --rojo: #C03425;
    --rojo1: #a5281b;
    --rojo2: #e34331;
    --naranja: rgb(255, 160, 87);
    --naranja1: rgb(206, 126, 65);
    --morado: rgb(147, 70, 255);
    --morado1: rgb(101, 47, 175);
    --gris: #919395;
    --blanco: #fff;
    --blanco1:rgba(255, 255, 255, 0.765);
    --blancoH: #c3dfff;
    --negro: #000;
}
html{
    box-sizing: border-box;
    font-size: 62.5%;
}
*,*::before{
    box-sizing: inherit;
}
body{
    font-family: var(--fontParrafo);
    font-size: 1.2rem;
    line-height: 2;
    display: grid;
    grid-template-rows: repeat(3,auto);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
@media (prefers-color-scheme: dark) {
    body { 
        background: var(--backDark); 
    }
}
@media (prefers-color-scheme: light) {
    body { 
        background: var(--backLight); 
    }
}
.bodyCharge {
    width: 100%;
    padding: 6rem 6rem 0 6rem;
    display: grid;
    flex-direction: row;
    row-gap: 1rem;
}
a{
    text-decoration: none;
}
footer {
    display: flex;
    gap: 2rem;
    justify-content: flex-end;
    gap: 2rem;
    width: 100%;
    padding: 10rem;
}
.padding-top-1 {
    padding-top: 15rem;
}
.padding-top-2 {
    padding-top: 21rem;
}
@media (min-width: 768px) {
    .padding-top-1 {
        padding-top: 3rem;
    }
    .padding-top-2 {
        padding-top: 9rem;
    }
}
.seccion {
    color: var(--blanco);
	margin: auto 0;
    font-family: var(--fontParrafo);
    font-size: 3rem;
}
.subseccion {
    color: var(--blanco1);
	margin: auto;
    font-family: var(--fontParrafo);
    font-size: 2.2rem;
}
.msg {
    color: var(--blanco1);
	margin: auto;
    font-family: var(--fontParrafo);
    font-size: 1.8rem;
}
/*LOGIN*/
.contenedorForm {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.formulario {
    background-color: var(--blanco);
    display: grid;
    border-radius: 1rem;
    padding: 3rem;
}
.formTitulo {
    text-align: center;
}
.formTitulo .label {
    color: var(--primary);
    font-size: 3rem;
}
/*INPUT TEXT*/
.input-star {
    font-size: 2rem;
    text-align: center;
    color: var(--fontsecondary);
    width: 100%;
    outline: none;
    height: 100%;
    border-radius: 0.4rem;
    border: var(--gris) solid 0.1rem;
}
.input-coment {
    font-size: 1.4rem;
    color: var(--fontsecondary);
    width: 100%;
    outline: none;
    height: 100%;
    border-radius: 0.4rem;
    border: var(--gris) solid 0.1rem;
}
.input-text {
    padding-top: 2rem;
}
.input-text .label {
    color: var(--fontprimary);
    font-size: 2rem;
}
.input-text .input {
    color: var(--fontsecondary);
    width: 100%;
    outline: none;
    height: 3.5rem;
    border-radius: 0.4rem;
    border: var(--gris) solid 0.1rem;
}
/*INPUT CHECKBOX*/
.input-checkbox {
    padding-top: 0.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.6rem;
}
.input-checkbox .label {
    color: var(--fontprimary);
    font-size: 1.5rem;
}
/*INPUT CHOOSEFILE*/
.input-file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.input-file-1 + label {
    text-align: center;
    background-color: var(--thirdy);
    color: var(--blanco);
    border-radius: 0.4rem;
    border: var(--fontprimary) solid 0.2rem;
    cursor: pointer;
}
.input-file-1:focus + label,
.input-file-1.has-focus + label,
.input-file-1 + label:hover {
    background-color: var(--primary);
}
.input-file + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    margin-right: 0.25em;
}
.iborrainputfile {
	font-size:1.6rem; 
	font-weight:normal;
    cursor: pointer;
    font-size: 1.8rem;
}
/*BUTTON*/
.button-group-h {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
@media (min-width: 768px) {
    .button-group-h {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }
}
.button-group {
    display: flex;
    flex-direction: column;
}
.button-group-gap-1 {
    gap: 4rem;
}
.button-group-gap-2 {
    gap: 3rem;
}
.button-group-gap-3 {
    gap: 2rem;
}
.button-group-gap-4 {
    gap: 1rem;
}
.button-group-padding {
    padding: 0 2.5rem;
}
.button-login {
    width: 100%;
    padding-top: 3rem;
    padding-bottom: 1rem;
    font-size: 1.8rem;
}
.button1 {
    width: 100%;
    height: 4rem;
    border-radius: 0.4rem;
    background-color: var(--verdeLog);
    border: var(--verdeLogB) solid 0.2rem;
    color: var(--blanco);
    cursor: pointer;
    font-size: 1.8rem;
}
.button1:hover {
    background-color: var(--verde);
}
.button2 {
    width: 100%;
    height: 4rem;
    border-radius: 0.4rem;
    background-color: var(--thirdy);
    border: var(--fontprimary) solid 0.2rem;
    color: var(--blanco);
    cursor: pointer;
    font-size: 1.8rem;
}
.button2:hover {
    background-color: var(--primary);
}
.button3 {
    width: 100%;
    height: 4rem;
    border-radius: 0.4rem;
    background-color: var(--rojo);
    border: var(--rojo1) solid 0.2rem;
    color: var(--blanco);
    cursor: pointer;
    font-size: 1.8rem;
}
.button3:hover {
    background-color: var(--rojo2);
}
.button-in-pre-post-width,
.button-asc-desc-width {
    width: 100%;
}
@media (min-width: 768px) {
    .button-asc-desc-width {
        width: 20rem;
    }
    .button-in-pre-post-width {
        width: 15rem;
    }
}
.button-asc-desc {
    height: 4rem;
    border-radius: 0.4rem;
    background: transparent;
    border: 0.2rem rgb(13, 110, 207) solid;
    color: rgb(13, 110, 207);
    cursor: pointer;
    font-size: 1.8rem;
}
.button-asc-desc:hover {
    background: rgb(39, 146, 253);
    color: var(--blanco);
}
.button-asc-desc-selected {
    height: 4rem;
    border-radius: 0.4rem;
    background-color: rgb(14, 134, 255);
    border: 0.2rem rgb(13, 110, 207) solid;
    color: var(--blanco);
    cursor: pointer;
    font-size: 1.8rem;
}
.button1-t {
    width: 100%;
    height: 4rem;
    border-radius: 0.4rem;
    background-color: transparent;
    border: var(--naranja1) solid 0.2rem;
    color: var(--naranja);
    cursor: pointer;
    font-size: 1.8rem;
}
.button1-t-clicked {
    width: 100%;
    height: 4rem;
    border-radius: 0.4rem;
    background-color: var(--naranja);
    border: var(--naranja1) solid 0.2rem;
    color: var(--blanco);
    cursor: pointer;
    font-size: 1.8rem;
}
.button1-t:hover {
    background-color: var(--naranja);
    color: var(--blanco);
}
.button-reset {
    display: flex;
    gap: 2rem;
    justify-content: flex-end;
    gap: 2rem;
    width: 50%;
    padding: 10rem;
}
/*BARRA NAVEGACIÓN*/
.header{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.contenedor{
    width: 100%;
    margin: 0 auto;
    position: fixed;
}
.barra{
    padding: 0 5rem;
    background-color: var(--primary);
}
@media (min-width: 768px) {
    .barra{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--primary);
    }
}
.logo{
    color: var(--blanco);
    cursor: pointer;
}
.logo__nombre{
    font-size: 3rem;
}
@media (max-width: 1080px) {
    .logo__nombre{
        font-size: 4rem;
    }
}
@media (max-width: 1000px) {
    .logo__nombre{
        font-size: 3rem;
    }
}
@media (max-width: 880px) {
    .logo__nombre{
        font-size: 2.5rem;
    }
}
.no-margin{
    margin: 0;
}
.centrar-texto{
    text-align: center;
}
@media (min-width: 768px) {
    .navegacion{
        display: flex;
        gap: 3rem;
    }
}
.navegacion__enlace{
    display: block;
    text-align: center;
    font-size: 1.8rem;
    color: var(--blanco);
    cursor: pointer;
    
}
.navegacion__enlace:hover{
    color: var(--blancoH);
}
/*MOSAICOS*/
@media (min-width: 768px) {
    .download-graph {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 2rem;
    }
    .bloque {
        display: flex;
        flex-direction: column;
        gap: 0.7rem;
        height: 42rem;
        padding: 0.7rem;
        overflow: auto;
    }
    .bloque::-webkit-scrollbar {
        -webkit-appearance: none;
    }
    
    .bloque::-webkit-scrollbar:vertical {
        width:1rem;
    }
    
    .bloque::-webkit-scrollbar-button:increment,.bloque::-webkit-scrollbar-button {
        display: none;
    } 
    
    .bloque::-webkit-scrollbar:horizontal {
        height: 1rem;
    }
    
    .bloque::-webkit-scrollbar-thumb {
        background-color: var(--blanco);
        border-radius: 2rem;
    }
    
    .bloque::-webkit-scrollbar-track {
        border-radius: 1rem;  
    }
    .pelicula {
        display: grid;
        padding: 1rem;
        grid-template-columns: 1fr 4fr 2fr;
        column-gap: 1rem;
        align-items: center;
        background-color: var(--backDark1);
        border: var(--backDark2) 0.2rem solid;
        border-radius: 1rem;
    }
    .actor {
        display: flex;
        padding: 1rem 3rem;
        flex-direction: column;
        background-color: var(--backDark1);
        border: var(--backDark2) 0.2rem solid;
        border-radius: 1rem;
    }
    .categoria {
        background-color: var(--naranja);
        border: var(--naranja1) 0.2rem solid;
        border-radius: 1rem;
    }
    .dos-columnas {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
    .tres-columnas {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 2rem;
    }
    .mosaico {
        display: grid;
        grid-template-columns: repeat(6,1fr);
        gap: 2rem;
    }
}
/*GRAFOS*/
.graph-1 {
    background: var(--blanco);
    border: var(--blancoH) 0.5rem solid;
    border-radius: 1rem;
    resize: none;
}
/*PELICULAS*/
.titulo {
    font-size: 2rem;
    color: var(--blanco1);
    text-align: center;
    line-height: normal;
}
.titulo .id {
    font-size: 1.2rem;
    margin: auto
}
.descripcion {
    font-size: 1.2rem;
    color: var(--blanco);
    line-height: normal;
    text-align: justify;
}
/*TITULO Y BOTÓN*/
.title-button{
    width: 100%;
}
@media (min-width: 768px) {
    .title-button {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 8%;
    }
}
/*VENTANA MODAL*/
.fondo_transparente{
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.765);
    position: fixed;
    height: 100%;
    width: 100%;
    display: none;
}
.modal{
    position: relative;
    background: var(--blanco);
    width: 60rem;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    display: flex;
    flex-direction: column;
    border-radius: 3rem;
}
.modal_cerrar{
    background: white;
    position: absolute;
    right: -2rem;
    color: crimson;
    top: -2rem;
    width: 4rem;
    height: 4rem;
    border-radius: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.modal_titulo{
    color: white;
    height: auto;
    font-size: 2.5rem;
    text-align: center;
    vertical-align: middle;
    background-color: crimson;
    border-radius: 3rem 3rem 0 0;
}
.modal-descripcion {
    position: relative;
    padding: 2rem 0;
    height: 18.8vh;
    margin: 0;
}
.m-descripcion{            
    padding: 0 3rem;
    text-align: justify;
    line-height: normal;
    outline: none;
    border: 0rem solid;
    resize: none;
    background: var(--blanco);
    text-align: justify;
    overflow: auto;
    width: 100%;
    height: 100%;
}
.vista-comentarios {
    width: 100%;
    height: 55%;
    padding: 1rem 2rem;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
.vista-comentarios .titulo {
    margin: 0;
    color: var(--negro);
    font-size: 1.5rem;
    text-align: left;
}
.comentar {
    height: auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
}
.comentarios {
    position: relative;
    padding: 0.7rem 1rem;
    overflow: auto;
    height: 22vh;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.flex-comentario {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.flex-mi-comentario {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.comentario {
    position: relative;
    margin: 0;
    padding: 0.5rem 1.5rem 0.7rem 1.5rem;
    background: var(--comment);
    color: var(--negro);
    width: fit-content;
    max-width: 60%;
    border-radius: 0.5rem;
    line-height: normal;
}
.user-comment {
    width: 100%;
    color: var(--user_comment);
    font-weight: bold;
    margin-right: 0.5rem;
}
.barra_scroll::-webkit-scrollbar {
    -webkit-appearance: none;
}
.barra_scroll::-webkit-scrollbar:vertical {
    width:1rem;
}
.barra_scroll::-webkit-scrollbar-button:increment,.barra_scroll::-webkit-scrollbar-button {
    display: none;
} 
.barra_scroll::-webkit-scrollbar:horizontal {
    height: 1rem;
}
.barra_scroll::-webkit-scrollbar-thumb {
    background-color: var(--blanco);
    border-radius: 2rem;
}
.barra_scroll::-webkit-scrollbar-track {
    border-radius: 1rem;  
}

.barra_scroll1::-webkit-scrollbar {
    -webkit-appearance: none;
}
.barra_scroll1::-webkit-scrollbar:vertical {
    width:1rem;
}
.barra_scroll1::-webkit-scrollbar-button:increment,.barra_scroll1::-webkit-scrollbar-button {
    display: none;
} 
.barra_scroll1::-webkit-scrollbar:horizontal {
    height: 1rem;
}
.barra_scroll1::-webkit-scrollbar-thumb {
    background-color: var(--backLight);
    border-radius: 2rem;
}
.barra_scroll1::-webkit-scrollbar-track {
    border-radius: 1rem;  
}

.acciones {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.fila {
    display: flex;
    flex-direction: row;
    justify-content:center;
    gap: 2rem;
    height: auto;
}
.stars {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.modal_botones{
    width: 100%;    
    background: whitesmoke;
    padding: 2rem 0;
    display: flex;
    justify-content: space-evenly;
    border-radius: 0 0 3rem 3rem;
}
.boton{
    background: white;
    padding: 8px 30px;
    color: crimson;
    text-decoration: none;
    border-radius: 25px;
    border:1px solid crimson
}
.boton:hover{
    background: crimson;
    color: white;
    cursor: pointer;
}